<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Itinity</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo" href="index.html">
               <img alt="Brand" src="logo.png">
             </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">John Doe</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group ">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </nav>

    <section class="itin1">
        <div class="container-fluid">
          <h2>Your trip to Korea</h2>
            <div class="col-md-2 column">
                <div>
                    <h3 class="dateno">Day 1</h3></div>
                <ul id="sortable4" class="connectedSortable">
                  <p class="time"> 9:00 am<p>
                  <p class="time"> 10:00 am<p>
                  <p class="time"> 11:00 am<p>
                  <p class="time"> 12:00 pm<p>
                  <p class="time"> 1:00 pm<p>
                  <p class="time"> 2:00 pm<p>
                  <p class="time"> 3:00 pm<p>
                  <p class="time"> 4:00 pm<p>
                  <p class="time"> 5:00 pm<p>
                  <p class="time"> 6:00 pm<p>
                  <p class="time"> 7:00 pm<p>
                  <p class="time"> 8:00 pm<p>
                  <p class="time"> 9:00 pm<p>
                  <p class="time"> 10:00 pm<p>
                  <p class="time"> 11:00 pm<p>
                </ul>
            </div>
            <div class="col-md-2 column">
                <div>
                    <h3 class="dateno">Day 2</h3></div>

                <!-- <ul>
                    <li class="draggable ui-state-highlight">Drag me down</li>
                </ul> -->

                <ul id="sortable3" class="connectedSortable">
                  <p class="time"> 9:00 am<p>
                  <p class="time"> 10:00 am<p>
                  <p class="time"> 11:00 am<p>
                  <p class="time"> 12:00 pm<p>
                  <p class="time"> 1:00 pm<p>
                  <p class="time"> 2:00 pm<p>
                  <p class="time"> 3:00 pm<p>
                  <p class="time"> 4:00 pm<p>
                  <p class="time"> 5:00 pm<p>
                  <p class="time"> 6:00 pm<p>
                  <p class="time"> 7:00 pm<p>
                  <p class="time"> 8:00 pm<p>
                  <p class="time"> 9:00 pm<p>
                  <p class="time"> 10:00 pm<p>
                  <p class="time"> 11:00 pm<p>
                </ul>
            </div>
            <div class="col-md-2 column">
                <div>
                    <h3 class="dateno">Day 3</h3></div>
                    <p class="time"> 9:00 am<p>

                <ul id="sortable2" class="connectedSortable">
                  <p class="time"> 9:00 am<p>
                  <p class="time"> 10:00 am<p>
                  <p class="time"> 11:00 am<p>
                  <p class="time"> 12:00 pm<p>
                  <p class="time"> 1:00 pm<p>
                  <p class="time"> 2:00 pm<p>
                  <p class="time"> 3:00 pm<p>
                  <p class="time"> 4:00 pm<p>
                  <p class="time"> 5:00 pm<p>
                  <p class="time"> 6:00 pm<p>
                  <p class="time"> 7:00 pm<p>
                  <p class="time"> 8:00 pm<p>
                  <p class="time"> 9:00 pm<p>
                  <p class="time"> 10:00 pm<p>
                  <p class="time"> 11:00 pm<p>
                </ul>
            </div>

</div>
    </section>


    <section class="itin2">

     <div class="container-fluid">
          <h2>4 day trip to Korea by Victor</h2>
            <div class="col-md-2 column">
                <div>
                    <h3 class="dateno">Day 1</h3></div>
<!--                     <p class="time"> 12:00 am<p> -->
                <ul id="sortable4" class="connectedSortable">
<!--                   <p class="time"> 1:00 am<p>
                  <p class="time"> 2:00 am<p>
                  <p class="time"> 3:00 am<p>
                  <p class="time"> 4:00 am<p>
                  <p class="time"> 5:00 am<p>
                  <p class="time"> 6:00 am<p>
                  <p class="time"> 7:00 am<p>
                  <p class="time"> 8:00 am<p> -->
                  <p class="time"> 9:00 am<p>

                  <li class="ui-state-default">
                      <div class="media">
                          <div class="media-left">
                              <a href="#">
                                  <img class="media-object" src="img/myeongdong_kyoja_main.jpg" alt="...">
                              </a>
                          </div>
                          <div class="media-body">
                              <h5 class="media-heading">Myeongdong Kyoja Main</h5>
                              <p class="address">Kyoja Main  29-1, Myeongdong 10-gil, Jung-gu</p>
                          </div>
                      </div>
                  </li>
                  <p class="time"> 10:00 am<p>
                  <p class="time"> 11:00 am<p>
                  <p class="time"> 12:00 pm<p>
                  <li class="ui-state-default">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="img/gyeongbokgung_palace_480.jpg" alt="...">
                                </a>
                            </div>


                            <div class="media-body">
                                <h5 class="media-heading">Gyeongbokgung Palace</h5>
                                <p class="address">161 Sajik-ro, Jongno-gu</p>
                            </div>
                        </div>
                  </li>

                  <p class="time"> 1:00 pm<p>
                  <p class="time"> 2:00 pm<p>
                  <p class="time"> 3:00 pm<p>

                  <li class="ui-state-default">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="img/mouse_rabbit_coffee.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Mouse Rabbit Coffee</h5>
                                <p class="address">5-14 Hwayang-dong, Gwangjin-gu</p>
                            </div>
                        </div>

                  </li>

                  <p class="time"> 4:00 pm<p>
                  <p class="time"> 5:00 pm<p>
                  <p class="time"> 6:00 pm<p>
                    <li class="ui-state-default">
                      <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="img/Mugyodong Bugeokukjib.jpg" alt="...">
                            </a>
                          </div>
                          <div class="media-body">
                            <h5 class="media-heading">Mugyodong Bugeokukjib</h5>
                            <p class="address">Eulji-ro 1-gil, Jung-gu</p>
                          </div>
                      </div>
                    </li>


                    <p class="time"> 7:00 pm<p>
                    <p class="time"> 8:00 pm<p>
                    <p class="time"> 9:00 pm<p>
                    <p class="time"> 10:00 pm<p>
                    <p class="time"> 11:00 pm<p>

                    <li class="ui-state-default">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="img/line_friends_cafe_garosu-gil.jpg" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">Line Friends Cafe</h5>
                                    <p class="address">Garosu-gil  27, Dosan-daero 13-gil, Gangnam-gu</p>
                                </div>
                            </div>
                    </li>


                </ul>
            </div>

            <div class="col-md-2 column">
                <div>
                    <h3 class="dateno">Day 2</h3></div>

                <!-- <ul>
                    <li class="draggable ui-state-highlight">Drag me down</li>
                </ul> -->

                <ul id="sortable3" class="connectedSortable">
                    <p class="time"> 9:00 am<p>

                  <li class="ui-state-default">
                      <div class="media">
                          <div class="media-left">
                              <a href="#">
                                  <img class="media-object" src="img/The War Memorial of Korea.jpg" alt="...">
                              </a>
                          </div>
                          <div class="media-body">
                              <h5 class="media-heading">The War Memorial of Korea</h5>
                              <p class="address">29, Itaewon-ro, Yongsan-gu</p>
                          </div>
                      </div>
                  </li>
                  <p class="time"> 10:00 am<p>
                  <p class="time"> 11:00 am<p>
                  <p class="time"> 12:00 pm<p>
                  <p class="time"> 1:00 pm<p>
                  <p class="time"> 2:00 pm<p>
                  <p class="time"> 3:00 pm<p>
                  <p class="time"> 4:00 pm<p>
                  <p class="time"> 5:00 pm<p>
                  <p class="time"> 6:00 pm<p>
                    <p class="time"> 7:00 pm<p>
                    <p class="time"> 8:00 pm<p>
                    <p class="time"> 9:00 pm<p>
                    <p class="time"> 10:00 pm<p>
                    <p class="time"> 11:00 pm<p>

                </ul>
            </div>
            <div class="col-md-2 column">
                <div>
                  <h3 class="dateno">Day 3</h3></div>

                  <ul id="sortable2" class="connectedSortable">
                    <p class="time"> 9:00 am<p>
                    <p class="time"> 10:00 am<p>
                    <p class="time"> 11:00 am<p>
                    <p class="time"> 12:00 pm<p>
                    <p class="time"> 1:00 pm<p>
                    <p class="time"> 2:00 pm<p>
                    <p class="time"> 3:00 pm<p>
                    <p class="time"> 4:00 pm<p>
                    <p class="time"> 5:00 pm<p>
                    <p class="time"> 6:00 pm<p>
                    <p class="time"> 7:00 pm<p>
                    <p class="time"> 8:00 pm<p>
                    <p class="time"> 9:00 pm<p>
                    <p class="time"> 10:00 pm<p>
                    <p class="time"> 11:00 pm<p>
                  </ul>
                </div>
            <div class="col-md-2 column">
                <div>
                    <h3 class="dateno">Day 4</h3></div>

                <ul id="sortable1" class="connectedSortable">
                    <p class="time"> 9:00 am<p>
                    <p class="time"> 10:00 am<p>
                    <p class="time"> 11:00 am<p>
                    <p class="time"> 12:00 pm<p>
                    <p class="time"> 1:00 pm<p>
                    <p class="time"> 2:00 pm<p>
                    <p class="time"> 3:00 pm<p>
                    <p class="time"> 4:00 pm<p>
                    <p class="time"> 5:00 pm<p>
                    <p class="time"> 6:00 pm<p>
                    <p class="time"> 7:00 pm<p>
                    <p class="time"> 8:00 pm<p>
                    <p class="time"> 9:00 pm<p>
                    <p class="time"> 10:00 pm<p>
                    <p class="time"> 11:00 pm<p>
                </ul>
            </div>
            <div class="col-md-2 column">
                <div>
                    <h3 class="dateno">To Do</h3></div>

                <ul id="sortable1" class="connectedSortable">
                  <li class="ui-state-default">
                      <div class="media">
                          <div class="media-left">
                              <a href="#">
                                  <img class="media-object" src="img/osulloc_tea_house.jpg" alt="...">
                              </a>
                          </div>
                          <div class="media-body">
                              <h5 class="media-heading">Osulloc Tea House</h5>
                              <p class="address">45-1, Insadong-Gil</p>
                          </div>
                      </div>
                  </li>
                  <li class="ui-state-default">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="img/jogyesa_temple.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Jogyesa Temple</h5>
                                <p class="address">45 Gyeonji-dong, Jongno-gu</p>
                            </div>
                        </div>
                    </li>

                    <li class="ui-state-default">
                          <div class="media">
                              <div class="media-left">
                                  <a href="#">
                                      <img class="media-object" src="img/Starfield COEX Mall.jpg" alt="...">
                                  </a>
                              </div>
                              <div class="media-body">
                                  <h5 class="media-heading">Starfield COEX Mall</h5>
                                  <p class="address">Starfield COEX Mall</p>
                              </div>
                          </div>
                      </li>
                      <li class="ui-state-default">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="img/Garosu-gil.jpg" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">Garosu-gil</h5>
                                    <p class="address">Shinsa-dong, Gangnam-gu</p>
                                </div>
                            </div>
                        </li>
                        <li class="ui-state-default">
                              <div class="media">
                                  <div class="media-left">
                                      <a href="#">
                                          <img class="media-object" src="img/Shinsa-dong, Gangnam-gu,.jpg" alt="...">
                                      </a>
                                  </div>
                                  <div class="media-body">
                                      <h5 class="media-heading">Shinsa-dong, Gangnam-gu</h5>
                                      <p class="address">47-18, Hannam-dong, Yongsan-gu</p>
                                  </div>
                              </div>
                          </li>
                </ul>
            </div>

    </div>

    </section>



    <div class="fixed-pos">
        <span class="label label-default label1 currenttab" >My trip</span>

        <span class="label label-default label2" >Victor's trip</span>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="script.js"></script>
    <script type="text/javascript">
    $(".itin2").hide();

    </script>
</body>

</html>
